body{
    color:black;
}

ul {
    list-style: none;
    margin-left: 33%;
    /* columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; */
  }

.doerImage{
    text-align: center;
     width: 200px;
  height: 200px;
  border-radius: 50%;
  /* overflow: hidden; */
  border: none;
 
      
}

#strike{
    text-decoration: line-through;
}

li{
    padding-top:25px;
    
}


@media screen and (max-width: 600px) {
ul{
    list-style: none;
    margin-left: 20%;
}
  }